.menuItem--container {
    display: flex;
    margin:50px 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.menuItem__image--style {
    max-width: 150px;
    position: relative;
    top: -40px;
}

.menuItem__details--container {
    padding-top: 5px;
    padding-left: 15px;
    margin-right: 20px;
}

.menuItem__details--container > p {
    margin-bottom: 0;
}

.menuItem__foodTitle--style {
    font-weight: bold;
}

.menuItem__foodPrice--style {
    font-weight: bold;
    font-size: xx-large;
    margin-top: 5px;
}

.menuItem__inCart--container {
    background-color: black;
    display: flex;
    color: white;
    border-radius: 30px;
    justify-content: center;
    max-width: 70%;
    max-height: 40px;
    align-items: center;
    position: relative;
    top: 30px;
    min-width: 100px;
}

.menuItem__check--style {
    margin-right: 10px;
}

.lightBlue {
    background-color: lightsteelblue;
}

.lightPink {
    background-color: lightcoral;
}

.hide {
    display: none;
}

@media only screen and (max-width:300px){
    .menuItem--container {
        flex-direction: column;
    }

    .menuItem__inCart--container {
        top: 15px;
    }

    .menuItem__foodTitle--style {
        margin-top: 0;
    }

    .menuItem__image--style {
        margin-bottom: -30px;
        margin-top: 15px;
    }
}