.App {
  text-align: center;
  background-image: url(./assets/bg__btm-right.svg), url(./assets/bg__left.svg), url(./assets/bg__top-right.svg);
  background-position: right bottom, left top, right top;
  background-repeat: no-repeat, no-repeat,no-repeat;
  height: 100vh;
}

