.App {
  background-image: url(./assets/bg__btm-right.svg), url(./assets/bg__left.svg), url(./assets/bg__top-right.svg);
  background-position: right bottom, left top, right top;
  background-repeat: no-repeat, no-repeat,no-repeat;
  height: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width:800px){
  .App {
    height: 100vh;
  }
}

section {
  margin: 40px 20px;
  min-width: 35vw;
  border-radius: 10px;
  background-color: white;
  padding-left: 20px;
  /* box-shadow: -1px -1px 0px 4px rgba(245,242,242,0.75); */
  border: .1px solid rgb(213, 213, 213);
}

.mobile__header--container {
  display: none;
}



@media only screen and (max-width:800px){
  /* #cart {
    display: none;
  } */

  .showUI {
    display: block;
  }
  
  .hideUI {
    display: none;
  }

  .desktop__header--style {
    display: none;
  }

  .mobile__header--container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .mobile__header--container span {
    border: 2px solid black;
    height: 15px;
    margin:0 5px;
  }

  section {
    padding-left: 10px;
  }

}

